ion-grid {
  --ion-grid-padding: 50px;

  --ion-grid-padding-xs: 50px;
  --ion-grid-padding-sm: 50px;
  --ion-grid-padding-md: 50px;
  --ion-grid-padding-lg: 50px;
  --ion-grid-padding-xl: 50px;

  --ion-grid-column-padding: 90px;

  --ion-grid-column-padding-xs: 90px;
  --ion-grid-column-padding-sm: 90px;
  --ion-grid-column-padding-md: 90px;
  --ion-grid-column-padding-lg: 90px;
  --ion-grid-column-padding-xl: 90px;
}

ion-col {
  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}
div{
  background: linear-gradient(
      180deg,
      rgba(0, 40, 101, 0.18) 0%,
      rgba(2, 20, 30, 0.2) 7.8125%,
      rgba(11, 50, 72, 0.2) 39.58333432674408%,
      rgba(13, 50, 74, 0.2) 39.59333300590515%,
      rgba(124, 15, 161, 0) 100%
    ),
    linear-gradient(0deg, rgba(12, 34, 233, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(180deg, rgba(255, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(to left, #6d16dc, #6d16dc);
  border-style: solid;
  border-color: rgba(39, 18, 168, 0.13);
  border-width: 1px;
  width: 430px;
  height: 932px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
