<div>
  <ion-card color="primary">
    <ion-button size="large" expand="block">
      Cambiar pantalla 
      <ion-icon name="desktop-outline"></ion-icon>
    </ion-button>
  </ion-card>
  
  <ion-card color="secondary">
    <ion-button size="large" expand="block">
      Inicio/Fin Stream
      <ion-icon name="radio-outline"></ion-icon>
    </ion-button>
  </ion-card>
  
  <ion-card color="tertiary">
    <ion-button size="large" expand="block">
      Camara
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-button>
  </ion-card>
  
  <ion-card color="success">
    <ion-button size="large" expand="block">
      Microfono
      <ion-icon name="mic-circle-outline"></ion-icon>
    </ion-button>
  </ion-card>
  
  <ion-card color="warning">
    <ion-button size="large" expand="block">
      Actualizar Stream
      <ion-icon name="repeat-outline"></ion-icon>
    </ion-button>
  </ion-card>
</div>
