.view-mobile-stream-deck,
.view-mobile-stream-deck * {
  box-sizing: border-box;
}
.view-mobile-stream-deck {
  background: linear-gradient(
      180deg,
      rgba(0, 40, 101, 0.18) 0%,
      rgba(2, 20, 30, 0.2) 7.8125%,
      rgba(11, 50, 72, 0.2) 39.58333432674408%,
      rgba(13, 50, 74, 0.2) 39.59333300590515%,
      rgba(124, 15, 161, 0) 100%
    ),
    linear-gradient(0deg, rgba(12, 34, 233, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(180deg, rgba(255, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(to left, #6d16dc, #6d16dc);
  border-style: solid;
  border-color: rgba(39, 18, 168, 0.13);
  border-width: 1px;
  width: 430px;
  height: 932px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-16 {
  background: linear-gradient(
    180deg,
    rgba(75, 165, 249, 1) 0%,
    rgba(61, 187, 149, 0.74) 50%,
    rgba(75, 169, 255, 1) 100%
  );
  border-radius: 30px;
  width: 125px;
  height: 127px;
  position: absolute;
  left: 296px;
  top: 339px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.tabler-device-gamepad-2 {
  width: 78px;
  height: 78px;
  position: absolute;
  left: 23px;
  top: 24px;
  overflow: hidden;
}
.group {
  position: absolute;
  left: 6.56px;
  top: 16.25px;
  overflow: visible;
}
.frame-15 {
  background: linear-gradient(
    180deg,
    rgba(75, 165, 249, 1) 0%,
    rgba(61, 187, 149, 0.74) 50%,
    rgba(75, 169, 255, 1) 100%
  );
  border-radius: 30px;
  width: 125px;
  height: 127px;
  position: absolute;
  left: 152px;
  top: 339px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.icon-radar {
  position: absolute;
  inset: 0;
}
.group2 {
  position: absolute;
  left: 15px;
  top: 30px;
  overflow: visible;
}
.frame-14 {
  background: linear-gradient(
    180deg,
    rgba(75, 165, 249, 1) 0%,
    rgba(61, 187, 149, 0.74) 50%,
    rgba(75, 169, 255, 1) 100%
  );
  border-radius: 30px;
  width: 125px;
  height: 127px;
  position: absolute;
  left: 8px;
  top: 338px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.icon-star-1 {
  position: absolute;
  left: 22px;
  top: 27px;
  overflow: visible;
}
.frame-2 {
  background: #ffffff;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 93px;
  top: 706px;
  overflow: hidden;
}
.icon-gallery {
  position: absolute;
  inset: 0;
}
.group3 {
  position: absolute;
  left: 25px;
  top: 25px;
  overflow: visible;
}
.frame-17 {
  background: #ffffff;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 93px;
  top: 706px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.group4 {
  position: absolute;
  left: 25px;
  top: 25px;
  overflow: visible;
}
.frame-18 {
  background: #ffffff;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 233px;
  top: 706px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.icon-danger {
  position: absolute;
  left: 23px;
  top: 26px;
  overflow: visible;
}
.frame-3 {
  background: #ffffff;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 163px;
  top: 554px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.icon-microphone-2 {
  position: absolute;
  inset: 0;
}
.group5 {
  position: absolute;
  left: 30px;
  top: 24px;
  overflow: visible;
}
.frame-4 {
  background: #ffffff;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 31px;
  top: 549px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.icon-eye {
  position: absolute;
  inset: 0;
}
.group6 {
  position: absolute;
  left: 25px;
  top: 28px;
  overflow: visible;
}
.frame-7 {
  background: #ffffff;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 307px;
  top: 554px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.icon-twitch {
  position: absolute;
  inset: 0;
}
.group7 {
  position: absolute;
  left: 27px;
  top: 26px;
  overflow: visible;
}
.frame-5 {
  background: linear-gradient(
    180deg,
    rgba(75, 165, 249, 1) 0%,
    rgba(61, 187, 149, 0.74) 50%,
    rgba(75, 169, 255, 1) 100%
  );
  border-radius: 30px;
  width: 125px;
  height: 127px;
  position: absolute;
  left: 8px;
  top: 183px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.icon-game {
  position: absolute;
  inset: 0;
}
.group8 {
  width: 73px;
  height: 61.93px;
  position: static;
}
.group9 {
  position: absolute;
  left: 41.5px;
  top: 63.03px;
  overflow: visible;
}
.vector32 {
  position: absolute;
  left: 25px;
  top: 44.39px;
  overflow: visible;
}
.vector33 {
  position: absolute;
  left: 57.78px;
  top: 32px;
  overflow: visible;
}
.frame-13 {
  background: linear-gradient(
    180deg,
    rgba(75, 165, 249, 1) 0%,
    rgba(61, 187, 149, 0.74) 50%,
    rgba(75, 169, 255, 1) 100%
  );
  border-radius: 30px;
  width: 125px;
  height: 127px;
  position: absolute;
  left: 296px;
  top: 183px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.icon-monitor {
  position: absolute;
  inset: 0;
}
.group10 {
  position: absolute;
  left: 25px;
  top: 27px;
  overflow: visible;
}
.frame-12 {
  background: linear-gradient(
    180deg,
    rgba(75, 165, 249, 1) 0%,
    rgba(61, 187, 149, 0.74) 50%,
    rgba(75, 169, 255, 1) 100%
  );
  border-radius: 30px;
  width: 125px;
  height: 127px;
  position: absolute;
  left: 152px;
  top: 183px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.icon-messages-3 {
  position: absolute;
  inset: 0;
}
.group11 {
  position: absolute;
  left: 27px;
  top: 27px;
  overflow: visible;
}
.icon-profile-circle {
  position: absolute;
  inset: 0;
}
.group12 {
  position: absolute;
  left: 360px;
  top: 17px;
  overflow: visible;
}
.icon-menu {
  position: absolute;
  inset: 0;
}
.group13 {
  position: absolute;
  left: 31px;
  top: 31px;
  overflow: visible;
}
.stream-escenas {
  color: #ffffff;
  text-align: left;
  font: 400 40px "Karantina", sans-serif;
  position: absolute;
  left: 25px;
  top: 117px;
}