<div class="view-sign-up">
  <div class="frame-6">
    <div class="frame-9"></div>
  </div>
  <div class="frame-5">
    <div class="frame-8"></div>
  </div>
  <div class="frame-4">
    <div class="frame-7"></div>
  </div>
  <div class="frame-3">
    <div class="iniciar">Iniciar</div>
  </div>

  <div class="ya-tienes-cuenta-inicia-sesion">
    ¿Ya tienes cuenta? Inicia sesion
  </div>
  <div class="nombre-de-usuario">Nombre de usuario</div>
  <div class="contrase-a-cuenta">Contraseña (Cuenta)</div>
  <div class="correo-electronico">Correo Electronico</div>
</div>